# ---------- App ----------
APP_ENV=""
APP_LOGO_URL=""

# ---------- Client ----------
CLIENT_HOST=""
CLIENT_PORT=

# ---------- Gateway Service ----------
GATEWAY_SERVICE_HOST=""
GATEWAY_SERVICE_PORT=
GATEWAY_SERVICE_TIMEOUT_READ=""
GATEWAY_SERVICE_TIMEOUT_WRITE=""
GATEWAY_SERVICE_TIMEOUT_SHUTDOWN=""

# ---------- Auth Service ----------
AUTH_SERVICE_HOST=""
AUTH_SERVICE_PORT=
AUTH_SERVICE_TIMEOUT_SHUTDOWN=""
AUTH_BCRYPT_COST=
AUTH_JWT_ISSUER=""
AUTH_JWT_SECRET=""
AUTH_JWT_DURATION=""
AUTH_DURATION_EMAIL_CHANGE=""
AUTH_DURATION_SESSION=""
AUTH_DURATION_VERIFICATION=""

# ---------- Auth Database ----------
AUTH_DATABASE_HOST=""
AUTH_DATABASE_PORT=
AUTH_DATABASE_USER=""
AUTH_DATABASE_PASS=""
AUTH_DATABASE_NAME=""
AUTH_DATABASE_SSL_MODE=""
AUTH_DATABASE_MAX_CONNS=
AUTH_DATABASE_MIN_CONNS=
AUTH_DATABASE_MAX_CONN_LIFETIME=""
AUTH_DATABASE_MAX_CONN_IDLE_TIME=""

# ---------- Auth Cache ----------
AUTH_CACHE_HOST=""
AUTH_CACHE_PORT=
AUTH_CACHE_PASS=""
AUTH_CACHE_POOL_SIZE=
AUTH_CACHE_MIN_IDLE_CONNS=
AUTH_CACHE_MAX_ACTIVE_CONNS=
AUTH_CACHE_CONN_MAX_LIFETIME=""
AUTH_CACHE_CONN_MAX_IDLE_TIME=""
AUTH_CACHE_TIMEOUT_DIAL=""
AUTH_CACHE_TIMEOUT_READ=""
AUTH_CACHE_TIMEOUT_WRITE=""

# ---------- Notification Service ----------
NOTIFICATION_SERVICE_HOST=""

# ---------- Notification Database ----------
NOTIFICATION_DATABASE_HOST=""
NOTIFICATION_DATABASE_PORT=
NOTIFICATION_DATABASE_USER=""
NOTIFICATION_DATABASE_PASS=""
NOTIFICATION_DATABASE_NAME=""
NOTIFICATION_DATABASE_SSL_MODE=""
NOTIFICATION_DATABASE_MAX_CONNS=
NOTIFICATION_DATABASE_MIN_CONNS=
NOTIFICATION_DATABASE_MAX_CONN_LIFETIME=""
NOTIFICATION_DATABASE_MAX_CONN_IDLE_TIME=""

# ---------- Mailer ----------
MAILER_HOST=""
MAILER_PORT=
MAILER_USER=""
MAILER_PASS=""
MAILER_FROM=""

# ---------- Tracer ----------
TRACER_HOST=""
TRACER_PORT=
TRACER_WEB_UI_PORT=

# ---------- Broker ----------
BROKER_1_HOST=""
BROKER_2_HOST=""
BROKER_3_HOST=""
BROKER_RANDOM_STABLE_ID=""
BROKER_BROKERS=""
BROKER_AC_NAME=""
BROKER_AC_BALANCER=""
BROKER_AC_BATCH_SIZE=
BROKER_AC_BATCH_TIMEOUT=""
BROKER_AC_MAX_BYTES=
BROKER_AC_MAX_WAIT=""
BROKER_AC_COMMIT_INTERVAL=""
BROKER_AECR_NAME=""
BROKER_AECR_BALANCER=""
BROKER_AECR_BATCH_SIZE=
BROKER_AECR_BATCH_TIMEOUT=""
BROKER_AECR_MAX_BYTES=
BROKER_AECR_MAX_WAIT=""
BROKER_AECR_COMMIT_INTERVAL=""
BROKER_AEVR_NAME=""
BROKER_AEVR_BALANCER=""
BROKER_AEVR_BATCH_SIZE=
BROKER_AEVR_BATCH_TIMEOUT=""
BROKER_AEVR_MAX_BYTES=
BROKER_AEVR_MAX_WAIT=""
BROKER_AEVR_COMMIT_INTERVAL=""
