# ---------- App ----------
APP_ENV=""

# ---------- Auth Database ----------
AUTH_DATABASE_HOST=""
AUTH_DATABASE_PORT=
AUTH_DATABASE_USER=""
AUTH_DATABASE_PASS=""
AUTH_DATABASE_NAME=""
AUTH_DATABASE_SSL_MODE=""
AUTH_DATABASE_MAX_CONNS=
AUTH_DATABASE_MIN_CONNS=
AUTH_DATABASE_MAX_CONN_LIFETIME=""
AUTH_DATABASE_MAX_CONN_IDLE_TIME=""
